<ons-page id="changePass" class="margin-start Cairo">
    <ons-row class="area-margin">
        <ons-back-button class="back-button"></ons-back-button>
        <div class="titleOP">Change Password</div>
    </ons-row>
    <div class="margin-input">
        <div class="form-group">
            <div class="input-group-append">
                <input type="password" class="form-control form-control-lg" id="oldpassword" placeholder="Old Password">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-append">
                <input type="password" class="form-control form-control-lg" id="newpassword" placeholder="New Password">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-append">
                <input type="password" class="form-control form-control-lg" id="confirmpassword"
                    placeholder="Confirm New Password">
                <button class="input-group-text" id="showPassword">Show</button>
            </div>
        </div>
        <button type="button" id="confirmPassword" class="Anton btn-lightmode btn-lg btn-block">Confirm</button>
    </div>
</ons-page>