<ons-page id="editProfile" class="margin-start Cairo">
    <ons-row class="area-margin">
        <ons-icon icon="md-chevron-left" id="btn-back-option" class="backColor" size="60px"
            style="padding-bottom: 0; margin-left: 1rem; margin-right: 1rem;">
        </ons-icon>
        <div class="titleOP">Edit Profile</div>
    </ons-row>
    <div id="showEditProfile">
        <div id="userPhoto"></div>
        <ons-row class="row align-items-center">
            <div class="title-username">
                ID
            </div>
            <div id="userName" class="col-8"></div>
            <div class="right icon-pencil" id="saveEditProfile">
                <ons-icon size="30px" icon="md-edit"></ons-icon>
            </div>
        </ons-row>
    </div>
    <div class="text-center Prompt">
        <div class="btn-editProfile">ระดับความเหมาะสมทั้งหมด</div>
    </div>
</ons-page>