<ons-page id="FavoritePage">
    <ons-navigator swipeable id="Navigator_favorite" page="Favorite.html"></ons-navigator>
    <template id="Favorite.html">
        <ons-page id="Favorite" class="margin-start Cairo">
            <ons-list>
                <ons-list-item class="area-margin">
                    <ons-icon size="45px" icon="md-favorite"></ons-icon>
                    <div class="titlebar">Favourite</div>
                </ons-list-item>
            </ons-list>
            <!-- <div class="imgfav d-flex align-items-end" style="background-image: url(/assets/image/Johnwick2.jpg); ">
                <div class="movietextbg">
                    <div class="movietitle">Johnwick2</div>
                </div>
            </div> -->
            <ons-row>
                <div class="imgfav2 d-flex align-items-end" style="background-image: url(/assets/image/Johnwick2.jpg); ">
                    <div class="movietextbg">
                        <div class="movietitle">Johnwick2</div>
                    </div>
                </div>
                <div class="imgfav2 d-flex align-items-end" style="background-image: url(/assets/image/Johnwick2.jpg); ">
                    <div class="movietextbg">
                        <div class="movietitle">Johnwick2</div>
                    </div>
                </div>
                <div class="imgfav2 d-flex align-items-end" style="background-image: url(/assets/image/Johnwick2.jpg); ">
                    <div class="movietextbg">
                        <div class="movietitle">Johnwick2</div>
                    </div>
                </div>
                <div class="imgfav2 d-flex align-items-end" style="background-image: url(/assets/image/Johnwick2.jpg); ">
                    <div class="movietextbg">
                        <div class="movietitle">Johnwick2</div>
                    </div>
                </div><div class="imgfav2 d-flex align-items-end" style="background-image: url(/assets/image/Johnwick2.jpg); ">
                    <div class="movietextbg">
                        <div class="movietitle">Johnwick2</div>
                    </div>
                </div>
                <div class="imgfav2 d-flex align-items-end" style="background-image: url(/assets/image/Johnwick2.jpg); ">
                    <div class="movietextbg">
                        <div class="movietitle">Johnwick2</div>
                    </div>
                </div>
            </ons-row>
            
        </ons-page>
    </template>
</ons-page>