<ons-page id="FavoritePage">
    <ons-navigator swipeable id="Navigator_favorite" page="Favorite.html"></ons-navigator>
    <template id="Favorite.html">
        <ons-page id="Favorite" class="margin-start Cairo">
            <ons-list>
                <ons-list-item class="area-margin">
                    <ons-icon size="45px" icon="md-favorite"></ons-icon>
                    <div class="titlebar">Favourite</div>
                </ons-list-item>
            </ons-list>
            <ons-row id="showmovieFavorite"></ons-row>
        </ons-page>
    </template>
</ons-page>