<ons-page id="OptionPage">
    <ons-navigator swipeable id="Navigator_option" page="Option.html"></ons-navigator>
    <template id="Option.html">
        <ons-page id="Option" class="margin-start">
            <ons-list class="Cairo">
                <ons-list-item id="Profile" class="area-margin"></ons-list-item>
                <ons-list-item>
                    <b class="header">Account Setting</b>
                </ons-list-item>
                <ons-list-item tappable>
                    <div class="center">
                        Edit profile
                    </div>
                    <div class="right">
                        <ons-icon size="40px" icon="md-chevron-right"></ons-icon>
                    </div>
                </ons-list-item>
                <ons-list-item tappable id="ChangePassword">
                    <div class="center">
                        Change password
                    </div>
                    <div class="right">
                        <ons-icon size="40px" icon="md-chevron-right"></ons-icon>
                    </div>
                </ons-list-item>
                <ons-list-item tappable>
                    <div class="center">
                        Add a payment method
                    </div>
                    <div class="right">
                        <ons-icon size="20px" icon="fa-plus"></ons-icon>
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <div class="center">
                        Dark mode
                    </div>
                    <div class="right">
                        <ons-switch id="my-switch"></ons-switch>
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <div class="">
                        Auto update
                    </div>
                    <div class="right">
                        <ons-switch></ons-switch>
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <b class="header">More</b>
                </ons-list-item>
                <ons-list-item tappable>About us</ons-list-item>
                <ons-list-item tappable>
                    <div class="center">
                        Privacy policy
                    </div>
                    <div class="right">
                        <ons-icon size="40px" icon="md-chevron-right"></ons-icon>
                    </div>
                </ons-list-item>
                <ons-list-item tappable>
                    <div class="center">
                        Report
                    </div>
                    <div class="right">
                        <ons-icon size="40px" icon="md-chevron-right"></ons-icon>
                    </div>
                </ons-list-item>
                <ons-list-item tappable id="Logout">Sign out</ons-list-item>
            </ons-list>
        </ons-page>
    </template>
</ons-page>