<ons-page id="SearchPage">
    <ons-navigator swipeable id="Navigator_search" page="Search.html"></ons-navigator>
    <template id="Search.html">
        <ons-page id="Search" class="margin-start Cairo">
            <ons-row class="d-flex align-items-center searchbar">
                <img src="/assets/image/burger.png" width="35px" alt="" srcset="">
                <div class="col-9">
                    <input style="border-radius: 20px;" type="text" class="form-control" placeholder="Search"
                        id="searchResult" onchange="getmoviefromSearch()">
                </div>
                <ons-icon size="40px" icon="md-search" onchange="getmoviefromSearch()"></ons-icon>
            </ons-row>
            <ons-carousel item-width="115px" style="text-align: center; padding-left: 1rem;" swipeable auto-scroll
                overscrollable>
                <ons-carousel-item class="marginAddon">
                    <button type="button" class="btn btn-primary tagbut" id="Action">Action</button>
                </ons-carousel-item>
                <ons-carousel-item style="margin-right: 4px;margin-left: 4px;" class="marginAddon">
                    <button type="button" class="btn btn-primary tagbut" style="width: 110px;"
                        id="Adventure">Adventure</button>
                </ons-carousel-item>
                <ons-carousel-item class="marginAddon">
                    <button type="button" class="btn btn-primary tagbut" id="Comedy">Comedy</button>
                </ons-carousel-item>
                <ons-carousel-item class="marginAddon">
                    <button type="button" class="btn btn-primary tagbut" id="Fantasy">Fantasy</button>
                </ons-carousel-item>
                <ons-carousel-item class="marginAddon">
                    <button type="button" class="btn btn-primary tagbut" id="Horror">Horror</button>
                </ons-carousel-item>
                <ons-carousel-item class="marginAddon">
                    <button type="button" class="btn btn-primary tagbut" id="Thriller">Thriller</button>
                </ons-carousel-item>
                <ons-carousel-item class="marginAddon">
                    <button type="button" class="btn btn-primary tagbut" id="Animation">Animation</button>
                </ons-carousel-item>
                <ons-carousel-item class="marginAddon">
                    <button type="button" class="btn btn-primary tagbut" id="Sci-Fi">Sci-Fi</button>
                </ons-carousel-item>
            </ons-carousel>
            <ons-row id="searchItem"></ons-row>
        </ons-page>
    </template>
</ons-page>