<ons-page id="SearchPage">
    <ons-navigator swipeable id="Navigator_search" page="Search.html"></ons-navigator>
    <template id="Search.html">
        <ons-page id="Search" class="margin-start Cairo">
            <ons-row class="d-flex align-items-center searchbar">
                <ons-icon size="45px" icon="md-search"></ons-icon>
                <div class="col-10">
                    <input type="text" class="form-control" placeholder="Search" value="">
                </div>
            </ons-row>
        </ons-page>
    </template>
</ons-page>