.movietitle-Fav{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: rgb(0, 0, 0);
    padding-left: 0.11rem;
    padding-right: 0.1rem;
}

.imgFav{
  border: 0;
  height: 200px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 4px solid #000;
}

#showmovieFavorite{
  margin-top: 0.5rem;
}

.noFav{
  margin-top: 1rem;
  text-align: center;
  color: grey;
  font-size: 16px;
  font-weight: bold;
}