.Anton{
    font-family: 'Anton', sans-serif
}
.Cairo{
    font-family: 'Cairo', sans-serif
}
.Prompt{
    font-family: 'Prompt', sans-serif;
}
.toolbar{
    background-color: #BA0F0F;
    height: 80px;
}
.tabbar--top{
    margin-top: 1rem;
}
ons-toolbar .center{
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 5rem;
    background-color: #BA0F0F;
    color: white;
    font-weight: bold;
    font-size: 45px;
}
ons-toolbar .center span{
    margin-left: 5px;
    padding:5px 5px 5px 5px;
    border-radius: 15px;
    background-color: #f90;
    color: black;
    font-weight: bold;
    font-size: 45px;
}
ons-toolbar .center circle{
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
}
ons-toolbar .center img{
    margin-bottom: 0.5rem;
}   
.margin-start{
    margin-top: 1.8rem;
}
.area-margin{
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
}
.page__background-darkmode  {
    background-color: #2F2F2F;
    color: white;
}
.tabbar__icon {
    font-size: 30px;
    padding: 0;
    margin: 0;
    line-height: 26px;
    display: block!important;
    height: 28px;
}
.tabbar__button{
    color: #ADADAD;
}
:checked+.tabbar__button{
    color: #000000;
}
.titlebar{
    font-weight: bold;
    font-size: 30px;
    margin-left: 1rem;
}
svg{
    margin-right: 1rem;
    margin-left: 1rem;
    fill: black;
    width: 20px;
    height: 45px;
}

.svg-darkmode{
    margin-right: 1rem;
    margin-left: 1rem;
    fill: white;
    width: 20px;
    height: 45px;
}

