.area-imgDetail{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.imgDetail{
    border-radius: 25px;
    width: 70%;
}

.area-categoryDetail{
    display: flex;
    justify-content: center;
}

.categoryDetail{
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid;
    border-radius: 15px;
    background-color: #1E73F1;
    color: white;
}