.imgsearch{
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 5px 5px 12px #616161;
}

.searchtext{
    font-weight: bold;
    font-size: 24px;
    margin-left: 1.2rem;
    
}

.searchbar{
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    padding-left: 2rem;
}

.searchbar-darkmode{
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    padding-left: 2rem;
}
