.imgsearch{
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 5px 5px 12px #616161;
}

.searchtext{
    font-weight: bold;
    font-size: 24px;
    margin-left: 1.2rem;
    
}

.searchbar{
    color: rgb(0, 0, 0);
    margin-top: 0.5rem;
    padding-left: 2rem;
}

.searchbar-darkmode{
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    padding-left: 2rem;
}

.tagbut{
    border-radius: 30px;
    width: 100px;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #fff;
    color: black;
    
}
.marginAddon{
    margin-left: 0;
    margin-right: 0;
}

.movietitle-Src{
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    color: rgb(0, 0, 0);
    padding-left: 0.11rem;
    padding-right: 0.1rem;
}

.movietextbg{
    width: 100%;
    background-color: #fff;
    opacity: 0.75;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 2px;
}

.imgSrc{
    border: 0;
    height: 160px;
    width: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 10px;
    border: 4px solid #000;
}